/*
.section-elements {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 50%;
    border-radius: 15px 15px;
    margin-top: 30px;
}

.title {
    margin: 0.5rem;
}

.title-field>input {
    width: 450px;
    border: 1px solid #959696;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    border-width: 0px;
    border: none;
    outline: none;
}

.title {
    height: 60%;
    padding: 0;
}

.items {
    display: flex;
    gap: 3rem;
    float: right;
    justify-content: center;
}

.goCheckList-item,
.faPaintBrush-item,
.grImage-item {
    position: relative;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
*/

.takeNoteOne-container {
    width: 45vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px#b8b3b3;
    border-radius: 5px 5px;
    padding: 5px 8px 5px 8px;
    margin: auto;
    margin-top: 30px;
}

.icons-fields {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    .takeNoteOne-container {
        width: 70vw;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px 1px#b8b3b3;
        border-radius: 5px 5px;
        padding: 5px 8px 5px 8px;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .takeNoteOne-container {
        width: 75vw;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px 1px#b8b3b3;
        border-radius: 5px 5px;
        padding: 5px 8px 5px 8px;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .takeNoteOne-container {
        width: 75vw;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px 1px#b8b3b3;
        border-radius: 5px 5px;
        padding: 5px 8px 5px 8px;
        margin-top: 30px;
        position: relative;
        left: 20px;
    }
}

@media only screen and (min-width: 150px) and (max-width: 320px) {
    .takeNoteOne-container {
        width: 75vw;
        height: 6vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 2px 1px#b8b3b3;
        border-radius: 5px 5px;
        padding: 5px 8px 5px 8px;
        margin-top: 30px;
        position: relative;
        left: 40px;
    }
}